@page "{handler?}"
@model BlogRazorPage.Pages.Admin.Category.IndexModel
@{   
    Layout = "Shared/AdminLayout/_AdminLayout";
    ViewData["Title"] = "category";
}

<!-- Page Sidebar Ends-->
<!-- Container-fluid starts-->
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title d-sm-flex d-block">
                            <h5>لیست محصولات</h5>
                            <div class="right-options">
                                <ul>
                                    <li>
                                        <a class="btn btn-solid" asp-page="Add">افزودن محصول جدید</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="table-responsive">
                                <table class="table all-package theme-table table-product" id="table_id">
                                    <thead>
                                    <tr>
                                      
                                        <th>تایتل دسته بندی</th>
                                        <th>slug</th>
                                        <th>metaTag</th>
                                        <th>تاریخ ایجاد</th>
                                        <th>تنظیمات</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    @{
                                        foreach (var item in @Model.category)
                                        {
                                            <tr>
                                            

                                                <td>@item.Title</td>

                                                <td>@item.Slug</td>

                                                <td>@item.MetaTag</td>

                                                <td>@item.CreationDate</td>

                                                <td>
                                                    <ul>

                                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="نمایش">
                                                                <a asp-page="Detail" asp-route-id="@item.Id">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                                </a>
                                                            </li>

                                                        <li>
                                                            <a asp-route-id="@item.Id" asp-page="Edit">
                                                                <i class="ri-pencil-line"></i>
                                                            </a>
                                                        </li>

                                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="حذف">
                                                            <delete-item Url="@Url.Page("index","DeleteCategory",new{categoryId=item.Id})" description="">
                                                                        
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7zm4 12H8v-9h2zm6 0h-2v-9h2zm.618-15L15 2H9L7.382 4H3v2h18V4z" /></svg>
                                                            </delete-item>

                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>


                                        }
                                    }

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    @section Scripts{
        <script>

            function CustomDelete(url, Description) {
                Swal.fire({
                    title: "آیا از حذف اطمینان دارید ؟",
                    text: Description,
                    icon: "warning",
                    confirmButtonText: "بله ، مطمعا هستم",
                    cancelButtonText: "خیر",
                    showCancelButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        var token = $("#ajax-token input[name='__RequestVerificationToken']").val();
                        $.ajax({
                            url: url,
                            method: "post",
                            data: {
                                __RequestVerificationToken: token
                            },
                            beforeSend: function () {
                                $(".loading").show();
                            },
                            complete: function () {
                                $(".loading").hide();
                            },
                        }).done(function (data) {
                            var res = JSON.parse(data);
                            if (res.Status === 1) {
                                Success("", res.Message, true);
                            } else {
                                ErrorAlert("", res.Message, res.isReloadPage);
                            }
                        });
                    }
                });
            }



        </script>
    }
